*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    
}
.body{
    overflow-x: hidden;
}
.container{
    width:70vw;
    margin:auto;
    height: auto;
 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .right{
      float:right;
  }
  .left{
    float:left;
}
.gap-left{
    margin-left: 20px;
}
.footer-left{
    margin-left: 89px;
}


.btn{
    text-decoration: none;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 4px;

    font-weight: 600;
}
.btn-primary{
    background-color: #4E42D9;
    color:white;



}
.btn-secondary{

    background-color: #4f42d918;
    color:#4E42D9;


}

